<mat-toolbar color="primary">
  <img src="/assets/app-icon.png" class="small" />
  <span>Life's hard, why not get a joke?</span>
</mat-toolbar>

<div class="grid-container">
  <div *ngIf="resp$ | async as joke; else noJoke" class="joke">
    {{ joke.setup }}
    <div [hidden]="toggle">{{ joke.punchline }}</div>
  </div>
  <button
    mat-raised-button
    color="accent"
    type="button"
    (click)="getJokeAsObservable()"
    [hidden]="toggle"
    [disabled]="toggle"
  >
    Joke please!
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-raised-button
    color="accent"
    type="button"
    (click)="showAnswerToJoke()"
    [hidden]="!toggle"
    [disabled]="!toggle"
  >
    Answer please!
    <mat-icon>tag_faces</mat-icon>
  </button>
  <ng-template #noJoke>
    <div *ngIf="count > 0">
      <mat-spinner
        diameter="20"
        mode="indeterminate"
        class="loading"
      ></mat-spinner>
    </div>
  </ng-template>
</div>
